@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@charset "utf-8";
html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

/* Remove Firefox selection dot */
a, a:focus, a:active, a:hover, object, embed, :focus { outline: none !important; }
:-moz-any-link:focus { outline: none; }
input::-moz-focus-inner { border: 0; }

/* Remove Firefox Dropdown selection dot */
select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000; }

/* SELECTED TEXT */
::selection { background: #ff5e99; color: #FFFFFF; }
::-moz-selection { background: #ff5e99; color: #FFFFFF; }



/* CUSTOM FONT
-------------------------------------------------------*/

/* CHOPLIN */
@font-face {
  font-family: 'choplin';
  src: url('../fonts/choplin-medium-demo-webfont.eot');
  src: url('../fonts/choplin-medium-demo-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/choplin-medium-demo-webfont.ttf') format('truetype'),
     url('../fonts/choplin-medium-demo-webfont.svg#choplinmedium-demo') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'choplin';
  src: url('../fonts/choplin-extralight-demo-webfont.eot');
  src: url('../fonts/choplin-extralight-demo-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/choplin-extralight-demo-webfont.ttf') format('truetype'),
     url('../fonts/choplin-extralight-demo-webfont.svg#choplinextralight-demo') format('svg');
  font-weight: 200;
  font-style: normal;
}

/* UNISANS */
@font-face {
  font-family: 'uni_sans';
  src: url('../fonts/uni_sans_thin-webfont.eot');
  src: url('../fonts/uni_sans_thin-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/uni_sans_thin-webfont.ttf') format('truetype'),
     url('../fonts/uni_sans_thin-webfont.svg#uni_sansthin_caps') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'uni_sans';
  src: url('../fonts/uni_sans_thin_italic-webfont.eot');
  src: url('../fonts/uni_sans_thin_italic-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/uni_sans_thin_italic-webfont.ttf') format('truetype'),
     url('../fonts/uni_sans_thin_italic-webfont.svg#uni_sansthin_italic_caps') format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'uni_sans';
  src: url('../fonts/uni_sans_heavy-webfont.eot');
  src: url('../fonts/uni_sans_heavy-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/uni_sans_heavy-webfont.ttf') format('truetype'),
     url('../fonts/uni_sans_heavy-webfont.svg#uni_sansheavy_caps') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'uni_sans';
  src: url('../fonts/uni_sans_heavy_italic-webfont.eot');
  src: url('../fonts/uni_sans_heavy_italic-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/uni_sans_heavy_italic-webfont.ttf') format('truetype'),
     url('../fonts/uni_sans_heavy_italic-webfont.svg#uni_sansheavy_italic_caps') format('svg');
  font-weight: 800;
  font-style: italic;
}




body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.75;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
  text-transform: uppercase;
}

h1,h1 a {
  font-size: 4.236rem;
  }

h2,h2 a,.post-title {
  font-size: 2.618rem;
  }

h3,h3 a {
  font-size: 1.618rem;
  }

h4,h4 a {
  font-size: 1.277rem;
  }

h5,h5 a {
  font-size: 0.789rem;
  }

h6,h6 a {
  font-size: 0.618rem;
  }

.lead {
  font-size: 1.13rem;
  font-weight: 400;
  line-height: 1.88rem;
}

.section-lead {
  font-family: 'choplin';
  font-size: 1.5rem;
  font-weight: 400;
  line-height: normal;
  color: #30aca2;
}

.intro-header {
  text-align: left;
  color: #f8f8f8;
  background: url(../img/intro-bg.jpg) no-repeat center center;
  background-size: cover;
}

.intro-message {
  position: relative;
  padding-top: 15%;
  padding-bottom: 15%;
}

.intro-message > h1 {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-weight: 600;
  width: 100%;
  max-width: 600px;
  height: auto;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-family: "choplin";
  text-transform: none;
  }
  .intro-message > .byline {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-family: "choplin";
    text-transform: none;
    }


.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}


@media(max-width:767px) {
  .intro-message {
    padding-bottom: 15%;
  }

  .intro-message > h1 {
    font-size: 3em;
  }

  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.intro-social-buttons > li:last-child {
    margin-bottom: 0;
  }

  .intro-divider {
    width: 100%;
  }
}

.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

.banner {
  padding: 80px 0;
  color: #f8f8f8;
  background: url(../img/banner-bg.jpg) no-repeat center center;
  background-size: cover;
}

.banner h2 {
  margin: 0 0 30px 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 3em;
}

.banner ul {
  margin-bottom: 0;
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}

@media(max-width:1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  }
}

@media(max-width:767px) {
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
  }

  ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.banner-social-buttons > li:last-child {
    margin-bottom: 0;
  }
}

footer {
  padding: 50px 0;
  background-color: #f8f8f8;
}

p.copyright {
  margin: 15px 0 0;
}

.services .pull-left {
  margin-right: 30px;
  font-size: 15px;
}

.services .checked {
  color: #009966;
}

a.phonecall { color: #fff; }



/* Cosmetic-consultants */
.cosmetic-consultants .well {
  background: #fff;
  border-width: 1px 0 0 6px;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
  border-radius: 0;
  padding: 20px 30px;
  }
  .cosmetic-consultants .well h4 {
    margin-bottom: 20px;
    }


/* POST */
.post h3, .post h4 { font-family: 'choplin'; font-weight: 400; line-height: normal; }
.post h2 { font-family: 'uni_sans'; }
.post .post-content { margin-bottom: 60px; }
.post .container { max-width: 720px; }

.post { color:#5E676D; }
.post h4 { margin-top: 3rem; font-weight: 700; }
.post .page-header { font-size: 60px; margin: 100px auto 60px; text-align: center; border-bottom: 3px solid #eee; }
.post .lead { font-size: 40px; line-height: normal; color:#30aca2; text-transform: none; margin: 0 0 1.5em; }

.post i.checked { color:#30aca2; margin-right: 5px;}

.post p,.post ul { margin-bottom: 1.5em; line-height: 1.63rem; }

.post .site-footer { background:#30aca2; color: #fff; text-align: center; }
.post .site-footer a, .post .copyright { color: #fff; }
.post .site-footer .logo-footer { width: 100%; text-align: center; }
.post .site-footer .logo-footer-white { display: inline-block; width: 100%; max-width: 400px; height:90px; margin:auto; }

.post ul { list-style-type: none; padding-left: 20px; }
.post ul li::before {
  content: "-";
  margin: 0 8px 0 -13px;
  color:#30aca2;
  font-weight: bold;
  font-size: 20px;
}

.post .text-lg { font-family: 'uni_sans'; line-height: 1.8rem; font-size: 22px; font-weight: 600; color:#888;}

.post .btn-box { width: 100%; text-align: center;display: block;   }
.post .btn-apply { background: #30aca2; color:#fff; font-weight: 600; margin: 30px auto 60px; border-radius: 0; box-shadow: 1px 1px 3px rgba(0,0,0,0.3);}
.post .btn-apply:hover { background: #3bc3b8; }
.post .btn-apply:active { box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2); }



/* Fast  Fade Animation */
.animation-fast, .brand, .fade-hover, .nav li a, .sns-icons-box li, .brand .icon-reorder:before, .maker a, #footer li a, .back-top a, .btn, a {
-webkit-transition: all 200ms ease;
-moz-transition: all 200ms ease;
transition: all 200ms ease;
/* -webkit-transform: translate3d(0, 0, 0); Webkit Hardware Acceleration*/
-webkit-backface-visibility: hidden;
/* Safari Flicker Fix #2 */
-webkit-transform: translateZ(0);
}


